<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.headhunter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

  <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
       <activity
            android:name="com.headhunter.CandidateMainActivity"
            android:label="CandidateMainActivity" >
       </activity>
       
       <activity
            android:name="com.headhunter.CandidateAnswers"
            android:label="CandidateAnswers" >
       </activity>
       
        <activity
            android:name="com.headhunter.EmployerMainActivity"
            android:label="EmployerMainActivity" >
        </activity>>
            
        <activity
            android:name="com.headhunter.EmployerList"
            android:label="EmployerList" >
        </activity>>
        
        <activity
            android:name="com.headhunter.HelloScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
       
    </application>

</manifest>
